<div class="contenedor">
<div class="encabezado">
 <div>Codigo</div>
 <div>Nombre</div>
 <div>Categoria</div>
 <div>Precio(Ruta 1)</div>
 <div>Precio(Ruta 2)</div>
 <div >Precio(Ruta 3)</div>
 <div>Cantidad</div>
 <div>descripcion</div>
</div>
<mat-divider></mat-divider>
<div  class="noproductos" *ngIf="productos.length==0">No hay Productos</div>
<div class="productos" *ngIf="productos.length>0">
<div class="producto" *ngFor="let item of productos">
    <div>Codigo</div>
    <div>Nombre</div>
    <div>Categoria</div>
    <div>Precio(Ruta 1)</div>
    <div>Precio(Ruta 2)</div>
    <div >Precio(Ruta 3)</div>
    <div>Cantidad</div>
    <div>descripcion</div>
</div>
</div>
</div>

<div class="float">
    <button mat-fab (click)="AddProductodialog()">
        <mat-icon>add</mat-icon>
      </button>
</div>