<div class="container">
  <div class="encabezado">
    <div>No</div>
    <div>Nombre</div>
    <div>Ciudad</div>
    <div>Fecha</div>
    <div>Total</div>
    <div>Ver</div>
  </div>
  <div class="container-pedidos">
    <div class="pedidos" *ngFor="let pedido of pedidos$ | async; let i = index">
      <div>{{ i + 1 }}</div>
      <div>{{ pedido.cliente.nombre }}</div>
      <div>{{ pedido.cliente.ciudad.ciudad}}</div>
      <div>{{ pedido.fecha.seconds * 1000 | date: "dd/MM/yyyy" }}</div>
      <div>$ {{ pedido.total }}</div>
      <button
      mat-icon-button
      matTooltip="Ver Pedido"
      (click)="verDetallePedido(pedido)"
      >
      <mat-icon color="accent">search</mat-icon>
    </button>
    </div>
  </div>
</div>
