<h2 mat-dialog-title>Agregar Producto</h2>
<form #formproducto="ngForm" (ngSubmit)="addProducto(formproducto)">
  <mat-dialog-content class="mat-typography inputs">
    <mat-form-field appearance="outline">
    <mat-label>Codigo</mat-label>
      <input matInput name="usuario" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
     <mat-label>Nombre</mat-label>
      <input matInput name="contrasena" type="text" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
     <mat-label>Cantidad</mat-label>
      <input matInput name="contrasena" type="number" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select>
          <mat-option>
           Galleteria
          </mat-option>
          <mat-option>
           Dulces
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio (Ruta1)</mat-label>
         <input matInput name="contrasena" type="number" required />
       </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio (Ruta2)</mat-label>
         <input matInput name="contrasena" type="number" required />
       </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio (Ruta3)</mat-label>
         <input matInput name="contrasena" type="number" required />
       </mat-form-field>
       <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea matInput rows="6"></textarea>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button color="accent" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Agregar
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
