<h2 mat-dialog-title>
  Pedido Fecha:{{ this.data.fecha.seconds * 1000 | date: "dd/MM/yyyy" }}
</h2>

<mat-dialog-content style="overflow: hidden;">
  <h3>Datos basicos</h3>
  <div class="datos_basicos">
    <div>Nombre:</div>
    <div>Cedula:</div>
    <div>Direccion:</div>
    <div class="pedido_item">{{ data.cliente.nombre }}</div>
    <div class="pedido_item">{{ data.cliente.cedula }}</div>
    <div class="pedido_item">{{ data.cliente.direccion }}</div>
    <div>Ciudad:</div>
    <div>Confirmado:</div>
    <div>Telefono:</div>
    <div class="pedido_item">{{ data.cliente.ciudad.ciudad }}</div>
    <div class="pedido_item">{{ data.confirmado ? "Si" : "No" }}</div>
    <div class="pedido_item">{{ data.telefono }}</div>
    <div class="observacion">Observacion</div>
    <div class="pedido_item observacion">{{ data.observacion }}</div>
  </div>
  <h3>Productos</h3>

  <div class="productos_encabezado">
    <div>No</div>
    <div>Producto</div>
    <div>Cantidad</div>
    <div>Precio</div>
    <div>subtotal</div>
  </div>
  <div class="productos">
    <div
      class="productos_items"
      *ngFor="let producto of this.data.productos; let i = index"
    >
      <div>{{ i + 1 }}</div>
      <div>{{ producto.nombre }}</div>
      <div>{{ producto.cantidad }}</div>
      <div>$ {{ producto.precio }}</div>
      <div>$ {{ producto.precio * producto.cantidad }}</div>
     
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="total">
  <div>Total:</div>
  <h2>$ {{ this.data.total }}</h2>
</mat-dialog-actions>

<mat-dialog-actions align="end" class="send">
  <mat-form-field appearance="outline" class="descripcion">
    <mat-label>Mensaje de pedido</mat-label>
    <textarea
      matInput
      name="mensaje"
      [(ngModel)]="mensaje"
      rows="3"
    ></textarea>
  </mat-form-field>
    <button color="accent" mat-button cdkFocusInitial (click)="sendPush()">
        Enviar Confirmacion
      </button>
      <button mat-button mat-dialog-close cdkFocusInitial>
        Cerrar
      </button>
</mat-dialog-actions>
