<div class="loading" *ngIf="loading$ | async">
  <mat-spinner diameter="40" color="accent"></mat-spinner>
</div>
<div class="container" *ngIf="!(loading$ | async)">
  <div class="encabezado">
    <div>No</div>
    <div>Nombre</div>
    <div>Ciudad</div>
    <div>Fecha</div>
    <div>Vendedor</div>
    <div>Total</div>
    <div>Ver</div>
  </div>
  <div class="container-pedidos" *ngIf="!(loading$ | async)">
    <div class="pedidos" *ngFor="let pedido of pedidos$ | async; let i = index">
      <div>{{ i + 1 }}</div>
      <div>{{ pedido.cliente.nombre }}</div>
      <div>{{ pedido.cliente.ciudad.ciudad }}</div>
      <div>{{ pedido.fecha.seconds * 1000 | date: "dd/MM/yyyy" }}</div>
      <div>{{ pedido.vendedor ? pedido.vendedor : '--------'}}</div>
      <div>$ {{ pedido.total }}</div>
      <button
        mat-icon-button
        matTooltip="Ver Pedido"
        (click)="verDetallePedido(pedido)"
      >
        <mat-icon color="accent">search</mat-icon>
      </button>
    </div>
  </div>
</div>
